/* .footerText, .headerText{
    font-size: 16px;
    font-weight: bold;
    color: black;
    background-color: #f1c40f;
    padding: 6px 60px;
    border-radius: 7px;
}
.headerContainer, .footerContainer{
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 7px;
}
.headerContainer{
    background-color: #f1c40f;
}
.footerText{
    font-size: 20px;
}

.buttonStart{
    font-size: 16px;
    font-weight: bold;
    background: #2980b9;
    color: #FFF;
    margin-left: 290px;
    margin-right: 290px;
}

.percentage{
    font-size: 16px;
    margin-bottom: 4px;
} */

.progressBar{
    margin-right: 0px;
}

.progressBar > trough, .currentProgressBar > trough {
    margin-bottom: 5px;
    padding-top: 12px;
    padding-bottom: 9px;
    background-color: #CE5C00;
}
.progressBar > trough > progress, .currentProgressBar > trough > progress{
    background-image: none;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px 4px 4px 2px;
}
.progressBar > trough > progress{
    /* background-color: #888; */
    background-color: #27ae60;
}
.currentProgressBar > trough > progress {
    background-color: #27ae60;
}